@keyframes mesh-animation {
    0% {
        transform: translate(0, 0) scale(1);
    }

    33% {
        transform: translate(5%, 5%) scale(1.1);
    }

    66% {
        transform: translate(-5%, 2%) scale(0.9);
    }

    100% {
        transform: translate(0, 0) scale(1);
    }
}

.mesh-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
    background: #f8fafc;
}

.mesh-circle {
    position: absolute;
    filter: blur(80px);
    opacity: 0.4;
    border-radius: 50%;
    animation: mesh-animation 20s infinite alternate cubic-bezier(0.45, 0, 0.55, 1);
}

.mesh-1 {
    top: -10%;
    left: -10%;
    width: 50%;
    height: 50%;
    background: #22d3ee;
    animation-delay: 0s;
}

.mesh-2 {
    top: 40%;
    right: -10%;
    width: 60%;
    height: 60%;
    background: #818cf8;
    animation-delay: -5s;
}

.mesh-3 {
    bottom: -10%;
    left: 20%;
    width: 40%;
    height: 40%;
    background: #c084fc;
    animation-delay: -10s;
}

.mesh-4 {
    top: 20%;
    left: 40%;
    width: 30%;
    height: 30%;
    background: #60a5fa;
    animation-delay: -15s;
}